<div id="stage1">
    <br/>
    <br/>
    <br/>
    <br/>
    <div id="jumbo" class="jumbotron vertical-center" ng-controller="survivorController">
        <div class="container">
            {{problem}}<br/><br />
            <button type="submit" class="btn btn-default surv" style="width:200px;height:200px" ng-click="answer(0)">{{solution1}}</button><br /><br />
            <button type="submit" class="btn btn-default surv" style="width:200px;height:200px"ng-click="answer(1)">{{solution2}}</button><br /><br />
            <button type="submit" class="btn btn-default surv" style="width:200px;height:200px"ng-click="answer(2)">{{solution3}}</button>
        </div>
    </div>
</div>