body {
	
	font-family: 'Roboto Slab', serif;
}

audio {
	display: none;
}

.clear {
	clear: both;
}

#game {
	display: none;
    background: black;
	text-align: center;
    top:50;
    bottom:-200;
    left:0;
    right:0;
    position:absolute;
}

#top {
	width: auto;
/*	margin: 0 auto;*/
    margin-left: 200px;
    margin-right:200px;
}

#levels {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
	color: white;
	text-align: right;
	margin-top: 40px;
	font-size: 1.3em;
}

.myactive {
	color: green;
	font-weight: bold;
	text-decoration: underline;
}

#options {
	width: 1000px;
	height: 70px;
	margin: 0 auto;
}

#question-box {
	background: #ddd;
	width: 1000px;
	margin: 0 auto;
	padding: 10px;
	font-size: 1.5em;
}

.big-text {
	color: #FF7E00;
	font-size: 2em;
	margin-right: 15px;
}

#money {
	font-size: 1.9em;
	font-weight: bold;
	color: green;
	float: right;
	display: block;
	height: 50px;
	padding-top: 20px;
}

#logo {
	width: 300px;
	float: left;
	margin-top: 60px;
}

#game-over {
	display: none;
	font-size: 8em;
	font-weight: bold;
	color: white;
	width: 980px;
	margin-top: 300px;
	margin: 0 auto;
	text-align: center;
}

#fifty {
	background: url('../img/50-50.png') no-repeat 0 0;
}

#phone-friend {
	background: url('../img/phone-friend.png') no-repeat 0 0;
}

#audience {
	background: url('../img/audience.png') no-repeat 0 0;
}

#answer-box {
	color: white;
	font-size: 1.3em;
	text-align: left;
	width: 960px;
	margin: 0 auto;
}

#pre-start {
	display: none;
}

.answer:hover {
	text-decoration: underline;
	cursor: pointer;
}

.options-button {
	width: 64px;
	height: 64px;
	margin-left: 12px;
	float: left;
	background-position: 0 0;
	cursor: pointer;
}

.options-button:hover {
	background-position: 0 -64px !important;
}

.navbar{
margin-bottom: 0px;
}


#levels {
    
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

#mainNav2{
    
}
.navbar-fixed-top {
    position:relative;
  
}

.navbar-default .navbar-header .navbar-brand, .navbar-brand > a:hover {
    color:black;
}

.navbar-default .nav > li>a, .navbar-default .nav>li>a:focus, .navbar-default .nav>li>a:hover {
    color:black;
}

.navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus{
 color:black;   
}
#startjumbo {
    margin-top:40%;
    float:center;
    border-radius: 6px;
    
}

#accordions{
    padding-left: 10%;
    padding-right: 10%;
    height:150%;
    padding-top:5%;
    min-height:100%;
    position:relative;
  background: url(../img/business.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#stage1 { 
  height:auto;
    min-height:100%;
    position:relative;
  background: url(../img/island.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#endStage { 
  height:auto;
    min-height:100%;
    position:relative;
  background: url(../img/island.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#startStage { 
  height:100%;
    min-height:100%;
    position:relative;
  background: url(../img/survivor-island.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.vertical-center {
   
  width: 80%;
    margin: 0 auto;

  display: flex;
  align-items: center;
    
}

.vertical-center2 {
   bottom:100px;
  width: 20%;
    margin: 0 auto;
  display: flex;
  align-items: center;
    
}
.container {
/*     border-top:100px;*/
}

.surv{
      border-radius: 0px;
}

.btn{
    white-space:normal !important;
    word-wrap:break-word; 
}
.fullLength{
    max-width=100%;
}

.float-bottom{
 position: absolute; 
margin-left:10%;
bottom: 45%;   
}

.bg
{
  right:0;
    left:0;
/*  width: 100%;*/
    height: 200px;
  z-index: 0;
}

#studyDiv { 
  
}

.column-left{ float: left; width: 47%; margin-right:10px;height: 100%;}
.column-right{ float: right; width: 47%; margin-left:10px;height:100%}

    .box{
        padding:10px;
        
        border-color: black;
        color:black;
        width: 15%;    
        float:left;
        margin:1%;
        border-radius:5px;
        border-style: hidden;
    border-width: 5px;
        height:80%;
        background:white;
    }
.box2{
         padding:10px;
        border-color: black;
        right:0px;
        color:black;
        width: 64%;    
        float:left;
        margin:1%;
        border-radius:5px;
        border-style:hidden;
    border-width: 5px;
        height:80%;
    background:white;
    }
    .text{
        color:black;
        font-weight:bold;
        text-align:center;
        padding: 10px 0;
    }

.text > .ul {

 height:200px;
 width: 200px;
}

body > div > div > div:nth-child(1) > div > ul
{
     height:200%;
 width:100%;
}

body > div > div > div:nth-child(2) > div > ul{
    height:00%;
 width:100%;
}

.list-group-item{
    margin-top:10px;'
    margin-bottom:10px;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    border-top-right-radius:15px;

}

.list-group-item:first-child {
     margin-top:10px;'
    margin-bottom:10px;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    border-top-right-radius:15px;
}

.list-group-item:last-child {
     margin-top:10px;'
    margin-bottom:10px;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    border-top-right-radius:15px;
}

svg{
    padding-top:0px;   
}
#budgetPageDiv{
     
    height:auto;
    min-height:100%;
    position:relative;
  background: url(../img/business.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
